*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a,
a:link,
a:visited {
    position: relative;
    color: white;
    padding-bottom: 2px;
    text-decoration: none;
}

a:hover {
    font-weight: 400;
}

a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: top left;
}

a:hover::before,
.active::before {
    transform: scaleX(1);
}

.active {
    font-weight: 400;

}

header a {
    text-decoration: none;
}

body {
    background-color: #191919;
    color: white;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas: "header" "main" "footer";
    height: 100vh;
    margin: 0px 40px;
    color: #E6E8E6;
    font-family: 'Urbanist', sans-serif;
    letter-spacing: 1px;
}

header,
footer {
    align-items: center;
    background-color: #191919;
    display: flex;
    font-weight: 200;
    font-family: 'Urbanist', sans-serif;
    font-size: 1rem;
}

footer {
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

header>h1 {
    font-weight: 200;
}

header>nav {
    margin-left: 32px;
}

#github-link,
#github-link>a {
    color: grey;
    font-size: 0.8rem;
    margin-top: 6px;
}

#github-link>a::before {
    background-color: grey;
}

header>nav>a:not(:first-child),
footer>nav>a:not(:first-child) {
    margin-left: 16px;
}

footer>:first-child {
    margin-bottom: 4px;
}

main {
    background-color: #191919;
    display: flex;
    flex-direction: column;
}

main>article {
    display: flex;
    grid-gap: 24px;
    align-self: center;
}

main>div:last-child {
    margin-bottom: 100px;
}

main>div>h1,
h1>span {
    font-size: 5rem;
    font-weight: 600;
    font-family: 'Urbanist', sans-serif;
    line-height: 1.1em;
}

h1>span {
    text-decoration: underline;
    text-decoration-color: #F15025;
}

main>div>h2 {
    font-weight: 200;
    font-size: 2rem;
}

main>div:not(:first-child) {
    margin-top: 108px;
}

button {
    background: #F15025;
    color: white;
    font-family: 'Urbanist', monospace;
    padding: 8px;
    border: none;
    border-radius: 4px;
    letter-spacing: 2px;
}

main>p {
    text-align: center;
    font-size: 2rem;
    margin-top: 40px;
    font-weight: 100;
}

article>section {
    display: flex;
    flex-direction: column;
}

article>img {
    width: 200px;
}

article>section>p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
}

article>section>p:not(:first-child) {
    margin-top: 12px;
}

article {
    margin-top: 12px;
}

article>p {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.8px;
    line-height: 1.4rem;
}

article>button {
    margin-top: 32px;
}

.fadeInContent {
    position: relative;
    transform: translateY(-40px);
    opacity: 0;
    transition: 0.8s all ease;
}

.fadeInContent.active {
    transform: translateY(0px);
    opacity: 1;
}

.fadeInLeftContent {
    position: relative;
    transform: translateX(-40px);
    opacity: 0;
    transition: 0.8s all ease;
}

.fadeInLeftContent.active {
    transform: translateX(0px);
    opacity: 1;
}

.fadeInRightContent {
    position: relative;
    transform: translateX(40px);
    opacity: 0;
    transition: 0.8s all ease;
}

.fadeInRightContent.active {
    transform: translateX(0px);
    opacity: 1;
}

.index {
    margin-top: 50vh;
}

.blog-article {
    display: flex;
    flex-direction: column;
    max-width: 812px;
}

.blog-article>section pre {
    margin-top: 32px;
}

.blog-article>section ul {
    margin-top: 16px;
    margin-left: 32px;
    margin-bottom: 16px;
}

.blog-article>section>h1 {
    font-size: 3.5rem;
    font-weight: 300;
}

.blog-article>section>h3 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.blog-article>section>h3.date {
    font-size: 1.1rem;
    font-weight: 300;
    margin-top: 16px;
}

.blog-article>section>p, .blog-article>section>ul>li {
    font-size: 1.2rem;
    line-height: 2rem;
}

.blog-article img {
    width: 70%;
    height: auto;
    align-self: center;
}

.blog-article ul li {
    font-size: 1rem;
}

.contact-info {
    text-align: center;
}

.cards {
    display: flex;
    grid-gap: 12px;
    margin-top: 24px;
}

.card {
    border: 1px solid #E6E8E6;
    border-radius: 8px;
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
    align-items: center;
    max-width: 720px;
}

.card>article {
    margin-top: 0px;
}

.card>article>h3 {
    margin-top: 12px;
    font-size: 1.6rem;
    line-height: 1.5em;
}

.card>article>p {
    margin-top: 12px;
    font-size: 1rem;
    line-height: 1.5em;
}

.card>img {
    height: 240px;
    width: 100%;
}

.gallery {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    max-width: 100vw;
}

.gallery > section {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 1fr 1fr;
}

.gallery > section > img {
    width: 100%;
    object-fit: contain;
}

.portrait {
    object-fit: contain;
    width: 300px;
}

.project-cards, .blog-cards {
    display: flex;
    grid-template-columns: 1fr 1fr;
    margin-top: 24px;
    grid-gap: 12px;
}

.project-card, .blog-card {
    border: 1px solid #E6E8E6;
    border-radius: 8px;
    padding: 24px;
    min-height: 200px;
    max-width: 720px;
}

.project-card>article, .blog-card>article {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 0px;
}

.project-card>article>h3, .blog-card>article>h3 {
    font-size: 1.6rem;
    line-height: 1.5em;
}

.project-card>article>p, .blog-card>article>p {
    margin-top: 8px;
}

.project-card>article>button, .blog-card>article>button {
    margin-top: auto;
    width: fit-content;
}

@media screen and (max-width: 1558px) {
    .cards, .project-cards, .blog-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .index {
        margin-top: 25vh;
    }
}

@media screen and (max-width: 1000px) {
    main>div>h1,
    main>div>h1>span {
        font-size: 3.5rem;
    }

    .cards, .project-cards, .blog-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project-card>article>p, .blog-card>article>p {
        margin-bottom: 24px;
    }

    .project-card>article>button, .blog-card>article>button {
        align-self: center;
        margin-top: auto;
    }
}

@media screen and (max-width: 682px) {
    html {
        font-size: 14px;
    }

    body {
        display: flex;
        flex-direction: column;
        margin: 0px 20px;
        padding: 16px 0px;
        text-align: center;
    }

    .blog-article {
        text-align: left;
    }

    .blog-article img {
        width: 100%;
    }

    .index {
        margin-top: 10vh;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    header>nav {
        margin-left: 0px;
        margin-top: 8px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    main>article {
        flex-direction: column;
    }

    main>article>section>p {
        text-align: left;
    }

    main>div>h1,
    main>div>h1>span {
        font-size: 2.6rem;
    }

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        grid-template-columns: 1fr;
        width: auto;
    }

    .card>img {
        display: none;
    }

    .portrait {
        max-height: 450px;
        max-width: 100%;
        width: auto;
    }

    .project-cards, .blog-cards {
        padding-left: 0px;
        flex-direction: column;
    }

    .project-card, .blog-card {
        width: auto;
    }

    footer {
        align-items: center;
    }
}