* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #000000;	/* BLACK */
	color: #FFFFFF;			/* WHITE */
	font-size: 18px;
	width: 80%;
	margin: 0 auto;
}

article, h1, nav, a{
	background-color: rgba(255, 255, 255, 0.01);
}

h1 {
	font-size: 2em;							/* 2x the base font size (18px) */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding-top: 30px;
	padding-bottom: 10px;
	text-align: center;
}

article {
	margin-top: 15px;
}

article > header > h2 {
	font-size: 1.3em;							/* 2x the base font size (18px) */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 10px;
	/*text-decoration: underline;*/
	display: inline;
}

nav {
	width: 100%;
}

article > p {
	padding: 10px;
	margin-bottom: 10px;
	text-align: justify;
	font-family: "Orator W01 Medium", monospace;
	font-size: initial;
}

article > header > time {
	color: rgb(124, 124, 124);
	text-align: justify;
	font-family: "Orator W01 Medium", monospace;
	font-size: initial;
}

article > ul {
	font-family: "Orator W01 Medium", monospace;
	font-size: initial;
	padding-left: 20px;
}

p {
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: justify;
	font-family: "Orator W01 Medium", monospace;
	font-size: initial;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	float: left;
	width: 25%;
	text-align: center;
}

a:link, a:hover {
	color: white;
}

a:visited, a:active {
	color: gray;
}