*,
*::before,
*::after {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a,
a:link,
a:visited {
    text-decoration: underline;
    color: white;
    padding: 4px;
    border-radius: 8px;
}

a:hover {
    background-color: rgba(200, 200, 200, 0.9);
    color: rgba(4, 4, 4, 0.9);
}

body {
    background-color: rgba(4, 4, 4, 0.9);
    color: white;
    display: grid;
    grid-template-rows: 40px 1fr 60px;
    grid-template-areas: "header" "main" "footer";
    height: 100vh;
    margin-left: 8px;
}

header,
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 200;
}

#github-link,
#github-link>a {
    padding-left: 4px;
    color: grey;
}

nav {
    display: flex;
}

header>nav>a:not(:last-child),
footer>nav>a:not(:last-child) {
    margin-right: 16px;
}

footer>:first-child {
    margin-bottom: 4px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main>h1 {
    font-size: 80px;
    font-weight: 100;
}

@keyframes letterFadeInAndOut {
    0% {
        opacity: 0;
        transform: translate(40px);
    }

    20% {
        opacity: 1;
        transform: translate(0px);
    }

    80% {
        opacity: 1;
        transform: translate(0px);
    }

    100% {
        opacity: 0;
        transform: translate(-40px);
    }
}

.animatedJobTitle {
    font-weight: 200;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

.letter {
    opacity: 0;
    animation-name: letterFadeInAndOut;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    display: inline-block;
    line-height: 1em;
}