* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@keyframes door-open {
	from {left: 50%;}
	to {left: 60%; z-index: 1;}
}

@keyframes go-through-door {
	from {z-index: 2;}
	to {z-index: 2; transform: scale(20);}
}

body {
	background: white;
	overflow: hidden;
}

#door {
	background: black;

	/* Dimensions of door */
	height: 100px;
	width: 100px;

	/* Center the door */
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	/* Animation */
	animation-name: door-open;
	animation-delay: 1s;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}

#outside {
	background: white;
	
	/* Dimensions of door */
	height: 100px;
	width: 100px;

	/* Center the door */
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	/* Animation */
	animation-name: go-through-door;
	animation-delay: 3s;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}

#wall {
	background: black;

	/* Dimensions of wall */
	height: 100vh;
	width: 100vw;

	position: absolute;
}