* {
	box-sizing: border-box;
	font-size: 22px;
  font-family: sans-serif;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
header {
	border-radius: 20px;
	display: flex;
	margin: 5px;
	padding: 5px;
}

html {
	height: 100%;
}

main {
	margin-top: 50px;
	padding-left: 30px;
	padding-right: 30px;
}

main > article > p {
	color: black;
	font-size: 0.75em;
	line-height: 2.25em;
}

main > article > p:not(:last-child) {
	margin-bottom: 25px;
}

main > article > ul > li {
	font-size: 0.8em;
	list-style: none;
}

main > h1 {
	font-size: 1.5em;
	margin-bottom: 20px;
}

main > ul > a:link {
	text-decoration: none;
}

main > ul > a:visited {
	color: blue;
}

main > ul > a:hover {
	color: blue;
}

main > ul > a > li {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	list-style: none;
	margin-bottom: 40px;
	padding: 5px;
}

strong {
	display: block;
	margin-top: 20px	;
}

time {
	font-size: 0.6em;	
}

#article-title {
	border-bottom: 2px solid gold;
	margin-bottom: 24px;
}

#article-title > h2 {
	display: inline;
	font-size: 1.3em;
}

#blog-tile {
	border-bottom: 2px solid gold;
	margin-bottom: 4px;
}

#blog-tile > h2 {
	display: inline;
	font-size: 1.3em;
}

#nav-section {
	align-self: center;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-wrap: wrap;
}

#nav-section > h1 {
	display: block;
	font-size: 1.5em;
	text-align: center;
}

#nav-section > nav {
	text-align: center;
}

#nav-section > nav > a:link {
	color: blue;
}

#nav-section > nav > a:visited {
	color: blue;
}

#nav-section > nav > a:hover {
	color: blue;
}

#nav-section > nav > a:first-child {
	border-right: 1px solid black;
	padding-left: 10px;
	padding-right: 10px;
}

#nav-section > nav > a:last-child {
	border-left: 1px solid black;
	padding-left: 10px;
	padding-right: 10px;
}

#project-panel > img {
	height: 100px;
	object-fit: cover;
	object-position: 0% 100%;
	width: 100%;
}

.active-page {
	background: gold;
}

@media screen and (min-width: 625px) {
	#nav-section {
		flex-direction: row;
		justify-content: space-between;
	}

	#nav-section > h1 {
		align-self: center;
		flex-direction: row;
		flex-basis: 300px;
	}

	#nav-section > nav {
		align-self: center;
		display: block;
		margin-right: 10px;
	}
}

@media screen and (min-width: 800px) {
	main {
		margin-left: auto;
		margin-right: auto;
		width: 800px;
	}
}