* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

article {
	width: 400px;
}

article:last-child {
	margin-bottom: 50px;
}

article a {
	text-decoration: none;
	font-size: 1em;
	font-family: "Source Sans Pro", sans-serif;
}

article a:hover {
	color: white;
}

article a:visited {
	color: white;
}

article iframe {
	height: 400px;
	width: 400px
}

body {
	background-color: rgba(0, 0, 0, 1);
	color: white;
	height: 100vh;
	width: 100vw;
	font-size: 48px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.button {
	text-decoration: none;
	display: inline;
	margin-left: 5px;
}

h1 {
	text-decoration: none;
	font-size: 1.2em;
	font-family: "Source Sans Pro", sans-serif;
	color: white;
	display: inline;
}

header {
	align-items: center;
	margin-bottom: 100px;
	grid-area: head;
	width: 100%;
	display: flex;
	flex-direction: column;
}

header h1 {
	margin-top: 20px;
	margin-bottom: 40px;
	font-size: 1.2em;
}

header nav {
	display: flex;
	flex-direction: row;
}

header nav a {
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	padding: 8px;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	font-family: "Source Sans Pro", sans-serif;
	color: white;
	display: block;
}

header nav a:nth-child(2) {
	margin-left: 24px;
	margin-right: 24px;
}

header picture {
	height: 110px;
	display: flex;
	align-items: center;
	flex-direction: row;
	margin: 10px;
}

header picture img{
	height: 75px;
	width: 75px;
	border-radius: 50%;
	margin-right: 10px;
}

header picture figcaption {
	font-size: 1.2em;
	font-family: "Source Sans Pro", sans-serif;
	color: white;
}

main {
	grid-area: main;
}

main a {
	text-align: left;
	text-decoration: none;
	font-size: 1em;
	font-family: "Source Sans Pro", sans-serif;
	color: white;
}

li {
	font-size: 0.8em;
}

p {
	padding: 5px;
	margin-top: 10px;
	text-align: justify;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 0.8em;
}

time {
	font-size: 0.7em;
	color: lightgrey;
}

@media screen and (min-width: 700px) {
	article {
		width: 700px;
	}

	article iframe {
		width: 700px;
	}
	
	body {
		font-size: 24px;
	}

	header nav a:nth-child(2) {
		margin-left: 48px;
		margin-right: 48px;
	}
}