* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 18px;
	margin: 0 auto;
	display: grid;
	grid-row-gap: 20px;
	grid-template-columns: 200px 2fr 1fr;
	grid-template-rows: 100px 1fr 1fr;
	transition: margin-left .5s;
	min-height: 100vh;
}

h1 {
	padding: 10px;
	margin-top: 50px;
	font-size: 2em;
	font-family: "Source Sans Pro", sans-serif;
	grid-area: 1 / 2 / 1 / 4;
}

article > header > h2 {
	font-size: 1.3em;							
	font-family: "Source Sans Pro", sans-serif;
	padding: 10px;
	display: inline;
}

article > p {
	padding: 10px;
	margin-bottom: 10px;
	text-align: justify;
	font-family: "Source Sans Pro", sans-serif;
	font-size: initial;
}

article > header > time {
	text-align: justify;
	font-family: "Source Sans Pro", sans-serif;
	font-size: initial;
}

article > ul {
	font-family: "Source Sans Pro", sans-serif;
	font-size: initial;
	padding-left: 20px;
}

article {
	grid-area: 2 / 2 / 4 / 4;
}

p {
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: justify;
	font-family: "Source Sans Pro", sans-serif;
	font-size: initial;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav {
	width: 200px;
	height: 100%;
	align-items: center;
	background-color: #141416;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

picture {
	margin-top: 40px;
	justify-self: center;
	z-index: 1;
}

picture img {
	border-radius: 50%;
}

picture figcaption {
	text-align: center;
	font-size: 18px;
	font-family: "Source Sans Pro", sans-serif;
	color: #f1f1f1;
}
  
nav a {
	margin-top: 10px;
	margin-bottom: 10px;
	text-decoration: none;
	text-align: center;
	font-size: 20px;
	font-family: "Source Sans Pro", sans-serif;
	color: #818181;
	display: block;
}
  
nav a:hover {
	color: #f1f1f1;
}