* {
	box-sizing: border-box;
    font-family: sans-serif;
	margin: 0;
	padding: 0;
}

body {
    background-color: rgb(61, 80, 99);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    min-height: 100%;
}

html {
    height: 100%;
}

header {
    display: flex;
    justify-content: end;
    box-shadow: 2px 2px 10px rgb(50, 50, 50);
    margin: -15px;
    padding: 10px;
}

main {
    animation: fadeIn 1s;
    color: white;
}

/* https://css-irl.info/animating-underlines/ */
nav > a {
    text-underline-offset: 0.3em;
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    transition: text-decoration-color 300ms, text-underline-offset 300ms;
}

nav > a:hover {
    text-decoration-color: rgb(255, 255, 255, 1);
}

nav > a:not(:last-child) {
    margin-right: 10px;
}

nav > a:visited {
    color: white;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}